*{
  box-sizing: border-box;
  padding: 0ch;
  margin: 0%;
}
nav{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: black;
  border-bottom: 10px;
  border-color: rgb(158, 67, 28);
}
li{
  text-decoration: none;
}
ul:hover{
  display: flex;
  list-style-type: none;
  font-size:100%;
  background-color: rgb(140, 56, 56);
 padding-right: 60px;
  transition: 1.7s;
  
}
ul{
  display: flex; }
a{
  padding: 55px;
  text-decoration: none;
  color: white;
  
}


body{
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
      box-shadow: 200ch;
}
.mydivimage{
  display: flex;
height: 10ch;
width: 10ch;
}
section{
  display: flex;
}

section{
  display: flex;
}

.boxes1{
  display: flex;
  height: 400px;
  width: 700px;
  border: 5px solid green;
  padding: 50px;
  margin: 10px;
  background-color: aqua;
}
.boxes2{
  height: 400px;
  width: 700px;
  border: 5px solid green;
  padding: 50px;
  margin: 10px;
  align-items: center;
  font-family:Arial, Helvetica, sans-serif;
  background-color: rgb(38, 64, 54);
}
.boxes3{
  height: 400px;
  width: 700px;
  border: 5px solid green;
  padding: 60px;
  margin: 10px;
  background-color: #334433;
  justify-content: center;
 font-size: larger;
  
}
.boxes4{
  height: 400px;
  width: 700px;
  border: 5px solid green;
  margin: 10px;
}
.davy{
  background-image: url(../Images/imagescourses.jpg);
  background-repeat: no-repeat;
  height: 100%;
  background-size:cover;
  width: 690px;
  padding: 100px;
  font-size: 15px;
  color: white;
}
.divinbox2{
  background-color: rgb(57, 40, 40);
  height: 30ch;
  padding: 0%;
}
.myformbutton{

  height: 40px;
  width: 70px;
  background-color: #2c3125;
}
.forgotpassword{
  text-align: right;
  font-size: small;
  text-decoration: underline;
}
.aforgotpassword{
  color: rgb(73, 115, 114);
}
.divinbox1{
  background-color: rgb(57, 40, 40);
  height: 20ch;
  width: 24ch;
  padding: 0%;
  opacity: 0.5;
  font-weight: 200;
  font-family: fantasy;
  font-size: 20px;
  align-content: center;
  padding: 80px;

}
.divinbox1second{
  background-color: rgb(57, 40, 40);
  height: 40ch;
  width: 30ch;
  padding: 10%;
  padding-top: 0%;
}

footer{
  display:flex;
  justify-content: space-between;
  background-color: blue;
  height: 200px;
  gap: 0;
}
.divinfooter1{
  height: 100%;
  width: 35%;
  background-color: orange;
  align-items: center;
  justify-content: center;
  padding: 50px;
}
.divinfooter2{
  height: 100%;
  width: 35%;
  background-color: rgb(16, 139, 40);
}
.divinfooter3{
  height: 100%;
  width: 35%;
  background-color: rgb(42, 1, 1);
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(164, 130, 164);
  min-width: 160px;
 
}
.dropdown-content a{
  color: black;
  padding: 12px 16px;
  text-decoration: none;
    display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: blue;}

.dropdown:hover .dropdown-content {
  display: block;
  transition: 5s;
  

}
.dropbtn {
  display: inline-block;
  color: rgb(235, 233, 233);
  text-align: center;
  padding: 2px 16px;
  text-decoration: none;
}
 .dropdown:hover .dropbtn {
  background-color: red;
}
.logoinfooter{
height: 50px;
padding: 10px;
}

.VisitAirbuscom{
  background-color: rgb(36, 36, 121);
  height: 20px;
}